<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="stylesheet" href="/build/styles.css" />
  </head>

  <body class="bg-gray-200 flex justify-center items-center h-screen">
    <div
      class="container max-w-md w-full p-8 bg-white shadow-md rounded text-center"
    >
      <h1 class="text-gray-800">Success!</h1>
      <p class="text-gray-600 mb-6">
        A link has been sent to your WhatsApp. Click on that link to set up
        groups.
      </p>
      <button
        class="w-full bg-green-500 text-white py-2 mb-2 rounded cursor-pointer hover:bg-green-600"
        onclick="window.location.href='https://wa.me/254797727587?text=start'"
      >
        Go to WhatsApp
      </button>
      <button
        class="w-full bg-blue-500 text-white py-2 rounded cursor-pointer hover:bg-blue-600"
        onclick="window.location.href='/auth/login'"
      >
        Go Back to Login
      </button>
      <p class="text-gray-700 mt-4 text-sm">
        If you have not received the link, please click the button to go back.
      </p>
    </div>
  </body>
</html>
